<body>
    <div class = 'center'>
        <div class = 'container'>
            <h2>Welcome to Matt's Football Team Builder </h2>
            <br>
            <h4><%= link_to 'Create a New Player for Your Team', new_player_path %></h4>
            <h4><%= link_to 'View Your Current Team', players_path %></h4>
        </div>
    </div>
</body>