<nav>
    <ul>
        <li>Home</li>
        <% if !user_signed_in? %>
            <li>Signup</li>
            <li>Login</li>
        <% else %>
            <li>Logout</li>
        <% end %>
    </ul>
</nav>